/* Reset Style */
* , *::before , *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    color: var(--color-light);
    font-size: 1.8rem;
    line-height: 1.6;
    background-color: var(--color-primary);
}
h1,h2,h3 {
    color: var(--color-light);
    font-weight: 700;
}
h2 {
    font-size: 3.2rem;
}
p {
    font-size: 1.8rem;
}

/* root */
:root{
    --color-primary: #10A9DA;
    --color-text-primary-dark:  #0E5D80;
    --color-text-primary-light: #53B9D9;
    --color-light: #FFFFFF;
    --color-dark: #F6F6F6;
    --border-radius: 8px;
}
/* Modifire */
.block {
    padding: 2rem 1rem;
}
/* Btn */
.btn {
    outline: 0;
    color: var(--color-text-primary-dark);
    background-color: var(--color-light);
    padding: 1.2rem 1.5rem;
    border: 0;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 1.8rem;

}
.btn--outline{
    background-color: transparent;
    border: 3px solid var(--color-text-primary-dark);
    color: var(--color-text-primary-dark);
}
.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-dark);
}
.btn--small{
    font-size: 1.5rem;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__menu .btn {
    background-color: var(--color-text-primary-dark);

}
.menu__links{
    display: none;
}
.menu__toggler{
    cursor: pointer;
    margin-right: 1rem;
    background-color: var(--color-light);
    padding: 0.6rem 0.8rem !important;
    border-radius: var(--border-radius);
    /* border: 1px solid red; */
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    border-radius: var(--border-radius);
}