/* Reset Style */
* , *::before , *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    color: var(--color-light);
    font-size: 1.8rem;
    line-height: 1.6;
    background-color: var(--color-primary-light);
}
h1,h2,h3 {
    color: var(--color-light);
    font-weight: 700;
    margin: 2.5rem 0 1rem 0;
}
h2 {
    font-size: 3.2rem;
}
p {
    font-size: 1.8rem;
}

/* root */
:root{
    --color-primary: #10A9DA;
    --color-primary-dark:  #0E5D80;
    --color-primary-light: #53B9D9;
    --color-light: #FFFFFF;
    --color-dark: #F6F6F6;
    --border-radius: 8px;
}
/* Modifire */
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.block {
    padding: 2rem 2rem;
}
/* Btn */
.btn {
    outline: 0;
    color: var(--color-primary-dark);
    background-color: var(--color-light);
    padding: 1.2rem 1.5rem;
    border: 0;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 1.8rem;
    margin: 2.5rem 0;

}
.btn--white {
    background-color: var(--color-light);
    color: var(--color-primary-dark);
}
.btn--outline{
    background-color: transparent;
    border: 3px solid var(--color-primary-dark);
    color: var(--color-primary-dark);
}
.btn--primary {
    background-color: var(--color-primary-dark);
    color: var(--color-dark);
}
.btn--small{
    font-size: 1.5rem;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__menu .btn {
    background-color: var(--color-primary-dark);

}
.menu__links{
    display: none;
}
.menu__toggler{
    cursor: pointer;
    margin-right: 1rem;
    background-color: var(--color-light);
    padding: 0.6rem 0.8rem !important;
    border-radius: var(--border-radius);
    /* border: 1px solid red; */
}
.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    border-radius: var(--border-radius);
}

/* Hero image */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__image {
    display: flex;
    justify-content: center;
    max-height: 300px;
}
.hero__image img{
    width: 70%;
    /* transform: scaleX(-1); */
}
.hero__caption {
    max-width: 600px;
}
@media screen and (min-width: 1024px) {
    .hero {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .hero__image {
        order: 1;
    }
    .hero__image img{
        width: 100%;
    }
    .hero__caption{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        max-width: auto;
    }
    .hero__caption h1 {
        font-size: 5rem;
    }
}